<!DOCTYPE html>
<html ng-controller="AppCtrl">
  <head>
    <title ng-bind="pageTitle"></title>
    <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>" /><% }); %>

    <!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
    <script type="text/javascript" src="<%= file %>"></script><% }); %>
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation" ng-controller="NavController">
      <div class="navbar-header">
        <span class="navbar-brand">neoShift<small class="text-primary"><%= version %></small></span>
      </div>
      <ul class="nav navbar-nav">
        <li ng-class="{ active: isActive('/hospitals') }"><a href="#/hospitals">Hospitals</a></li>
        <li ng-class="{ active: isActive('/hospitals/groups') }"><a href="#/hospitals/groups">Groups</a></li>
        <li ng-class="{ active: isActive('/workers') }"><a href="#/workers">Workers</a></li>
        <li ng-class="{ active: isActive('/calendar') }"><a href="#/calendar">Calendar</a></li>
      </ul>
    </nav>

    <div class="main" ui-view="main"></div>
    <script src="assets/nw_app.js"></script>
    <script src="http://localhost:35729/livereload.js"></script>
  </body>
</html>
